* {
    box-sizing: border-box;
   
  }
/*styling background*/  
  body {
    margin: 90px;
    background-image: url("planar1.png");
    background-size: 1300px;
  }
 /* outside bordering of inputs*/ 
  form {
   
    
    border: 2px solid #333;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: pink;
    
  }
/*input groups styling*/  
  .input-group {
    display: flex;
    margin-bottom: 10px;
  }
  
  label {
    width: 100px;
  }
  
  input,
  select,
  textarea {
    flex: 1;
    padding: 3px 5px;
  }
  
  .submit-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
/*button styling*/  
  button {
    width: 100px;
    margin: 0 auto;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  